ul {
  padding-left: 0;
}

.slides {
  display: inline-block;
}

li {
  position: relative;
  display: inline-block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  cursor: pointer;
}

.next {
  right: -25px;
}

.prev {
  left: 0;
}

.next svg, .prev svg {
  width: 25px;
}

.slider {
  position: relative;
  margin-left: -25px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
  z-index: 0;
}
.frame {
  position: relative;
  margin-left: 25px;
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
}

.cap {
  padding-top: 10px;
  font-size: .8em;
}